@import "./reset.css";

@font-face {
  font-family: "Kumbh Sans";
  src: url(../fonts/KumbhSans-VariableFont_wght.woff2) format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Kumbh Sans-fallback";
  size-adjust: 104.31%;
  ascent-override: 92%;
  src: local("Arial");
}


html {
  font-family: "Kumbh Sans", "Kumbh Sans-fallback", sans-serif;
  font-size: 16px;

}

body {
  display: grid;
  text-align: center;
  background-color: hsl(0, 0%, 98%)
}

.hero {
  background-image: url('../assets/home/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 28.625rem;
  background-position: top -10.625rem center;
}

.logo {
  margin: 2.875rem auto 0;
  width: 155px;
}

.illustration-charts {
  display: block;
  margin: 5rem auto 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0 1.5rem 1.5rem;
  line-height: 1.2;
  color: hsl(228, 22%, 26%);
}

p {
  color: hsl(227, 13%, 51%);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(26 / 16);
  padding: 0 1.5rem;
}

.tier-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto auto;
}

article {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 50px 50px -25px hsla(227, 35%, 45%, 0.247);
  border-radius: .8125rem;
  width: calc(100% - 3rem);
  min-height: 31.75rem;
  margin: 2.5rem auto;
  position: relative;
}

article:nth-child(even) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(228, 100%, 66%);
  background-image: url('../assets/home/bg-pattern-pricing.svg');
  background-repeat: no-repeat;
  background-size: 55rem;
  background-position: bottom .4375rem center;
}

article:first-of-type {
  margin-top: 0;
}

button {
  border-radius: 1.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  text-align: center;
  padding: 0.875rem 40px 14px 40px;
}


button[data-type="get-started"] {
  color: hsl(0, 0%, 100%);
  background-color: #5175ff;
  box-shadow: 0 1.5625rem 1.5625rem -0.625rem hsla(227, 52%, 50%, 0.247);
  margin: 1.5rem 0 6.25rem;
}

button[data-type="try-for-free"] {
  color: hsl(228, 100%, 66%);
  background-color: hsla(228, 100%, 66%, 0.15);
  margin: 2rem auto 2.5rem;
}

body>button:last-of-type {
  margin-top: 2rem;
}

article:nth-child(even) button {
  color: hsl(228, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 2.5rem 0;
}

h2:not(article:nth-child(even) h2) {
  color: hsl(228, 22%, 26%);
}

li:nth-child(1) {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: calc(64 / 56);
  padding: 0 0 0.5rem;
}

li:nth-child(1):not(article:nth-child(even) li:nth-child(1)) {
  color: hsl(228, 22%, 26%);
}

li:nth-child(2) {
  padding: 0 0 3.5rem;
}

li:nth-child(4) {
  padding: 1rem 0 1rem;
}

li:nth-child(1n+3) {
  line-height: 1.75;
}

li:nth-child(1n+3):not(article:nth-child(even) li:nth-child(1n+3)) {
  color: hsl(227, 13%, 52%);
}

article:nth-child(even) li:nth-child(1n+3) {
  opacity: .75;
}

#countdown-timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#days,
#hours,
#minutes,
#seconds {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  top: 105.25rem;
  width: 100%;
  height: 78rem;
  background-color: hsl(228, 22%, 19%);
  z-index: -2;
  /* background-image: url('../assets/home/bg-pattern-footer.svg');
  background-size: 75.125rem;
  background-position: bottom -110px center; */
}

.bg-pattern-footer {
  width: 75.125rem;
  position: absolute;
  /* background-image: url('../assets/home/bg-pattern-footer.svg');
  background-repeat: no-repeat;
  background-size: 75.125rem;
  background-position: bottom -110px center; */
}
